<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Version" value="1.0"/>
    <add key="ReleaseDate" value="2014-07-01"/>
    <add key="EnableThisFeature" value="true"/>
    <add key="MaxNumberOfUsers" value="15"/>
    <add key="DefaultRate" value="13.37"/>
    <add key="AvailableCultures" value="nb-NO,en-US"/>
  </appSettings> 
</configuration>